.companylogo{
    width: 7%;
}

.button-ref Button{
    background-color: #01579b;
    color: white;
    margin: 12px 9px;
    border-radius: 25px;
    padding: 4px 10px;

}


.description{
    width: 80%;
    margin: 0 auto;
}

.fav-home{
    cursor: pointer;
    width: 80%;
    margin: 16px auto;
    padding-left: 18px;
}
.companytitle{
    margin-left: 32px;
}


.buttons{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 1.1em;
    font-size: 1.1em;

}

.main-describtion{

    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}




